.board-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    padding-left: 500px;
}
.board-container{
    margin: 20px;
    align-items: center;
    justify-content: center;
    
}
.header{
    justify-content: center;
    align-items: center;
    padding-left: 560px;
    
}
.display{
    justify-content: center;
    align-items: center;
    padding-left: 600px;
}